img {
  width: 100%;
}

.etsyLogo {
  margin-left: 20px;
  width: 15%;
}

.itemsForSale {
  cursor: pointer;
}

.board-game {
  border: 1px solid #777777;
  display: inline-block;
  width: 23%;
  margin-left: 20px;
  font-size: 14px;
}

.board-game img {
  width: 100%;
  height: 200px;
}

.topButton {
  background-color: blue;
  color: white;
}

.input-group {
  margin-top: 25px;
}

.headerRight {
  margin-top: 20px;
}

.fa-shopping-cart {
  margin-left: 18px;
}

.cartInfo {
  margin-right: 235px;
}

.linkSection {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul li {
  list-style-type: none;
  margin-left: 10px;
  color: blue;
  line-height: 1.75;
}

.parentb {
  display: flex;
  flex-direction: row;
}

.child1b {
  flex-direction: row;
}
